@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l4poet');
  src:  url('fonts/icomoon.eot?l4poet#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l4poet') format('truetype'),
    url('fonts/icomoon.woff?l4poet') format('woff'),
    url('fonts/icomoon.svg?l4poet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forseti-logo:before {
  content: "\e902";
  color: #fff;
}
.icon-kubernetes-logo:before {
  content: "\e903";
  color: #fff;
}
.icon-google-cloud-platform-logo:before {
  content: "\e901";
}
.icon-google-cloud-logo:before {
  content: "\e900";
}
.icon-advanced-solutions-lab:before {
  content: "\e904";
  color: #fff;
}
.icon-app-engine:before {
  content: "\e905";
  color: #fff;
}
.icon-beyondcorp:before {
  content: "\e906";
  color: #fff;
}
.icon-bigquery:before {
  content: "\e907";
  color: #fff;
}
.icon-cloud-apis:before {
  content: "\e908";
  color: #fff;
}
.icon-cloud-bigtable:before {
  content: "\e909";
  color: #fff;
}
.icon-cloud-cdn:before {
  content: "\e90a";
  color: #fff;
}
.icon-cloud-dataflow:before {
  content: "\e90b";
  color: #fff;
}
.icon-cloud-datalab:before {
  content: "\e90c";
  color: #fff;
}
.icon-cloud-dataprep:before {
  content: "\e90d";
  color: #fff;
}
.icon-cloud-dataproc:before {
  content: "\e90e";
  color: #fff;
}
.icon-cloud-datastore:before {
  content: "\e90f";
  color: #fff;
}
.icon-cloud-deployment-manager:before {
  content: "\e910";
  color: #fff;
}
.icon-cloud-dns:before {
  content: "\e911";
  color: #fff;
}
.icon-cloud-endpoints:before {
  content: "\e912";
  color: #fff;
}
.icon-cloud-external-ip-addresses:before {
  content: "\e913";
  color: #fff;
}
.icon-cloud-firewall-rules:before {
  content: "\e914";
  color: #fff;
}
.icon-cloud-functions:before {
  content: "\e915";
  color: #fff;
}
.icon-cloud-iam:before {
  content: "\e916";
  color: #fff;
}
.icon-cloud-interconnect:before {
  content: "\e917";
  color: #fff;
}
.icon-cloud-iot-core:before {
  content: "\e918";
  color: #fff;
}
.icon-cloud-jobs-api:before {
  content: "\e919";
  color: #fff;
}
.icon-cloud-load-balancing:before {
  content: "\e91a";
  color: #fff;
}
.icon-cloud-machine-learning:before {
  content: "\e91b";
  color: #fff;
}
.icon-cloud-natural-language-api:before {
  content: "\e91c";
  color: #fff;
}
.icon-cloud-network:before {
  content: "\e91d";
  color: #fff;
}
.icon-cloud-partner-interconnect:before {
  content: "\e91e";
  color: #fff;
}
.icon-cloud-pubsub:before {
  content: "\e91f";
  color: #fff;
}
.icon-cloud-router:before {
  content: "\e920";
  color: #fff;
}
.icon-cloud-routes:before {
  content: "\e921";
  color: #fff;
}
.icon-cloud-spanner:before {
  content: "\e922";
  color: #fff;
}
.icon-cloud-speech-api:before {
  content: "\e923";
  color: #fff;
}
.icon-cloud-sql:before {
  content: "\e924";
  color: #fff;
}
.icon-cloud-storage:before {
  content: "\e925";
  color: #fff;
}
.icon-cloud-tools-for-visual-studio:before {
  content: "\e926";
  color: #fff;
}
.icon-cloud-translation-api:before {
  content: "\e927";
  color: #fff;
}
.icon-cloud-video-intelligence-api:before {
  content: "\e928";
  color: #fff;
}
.icon-cloud-vision-api:before {
  content: "\e929";
  color: #fff;
}
.icon-cloud-vpn:before {
  content: "\e92a";
  color: #fff;
}
.icon-compute-engine:before {
  content: "\e92b";
  color: #fff;
}
.icon-container-builder:before {
  content: "\e92c";
  color: #fff;
}
.icon-container-engine:before {
  content: "\e92d";
  color: #fff;
}
.icon-container-optimized-os:before {
  content: "\e92e";
  color: #fff;
}
.icon-container-registry:before {
  content: "\e92f";
  color: #fff;
}
.icon-data-loss-prevention-api:before {
  content: "\e930";
  color: #fff;
}
.icon-data-studio:before {
  content: "\e931";
  color: #fff;
}
.icon-data-transfer-appliance:before {
  content: "\e932";
  color: #fff;
}
.icon-debugger:before {
  content: "\e933";
  color: #fff;
}
.icon-error-reporting:before {
  content: "\e934";
  color: #fff;
}
.icon-generic-gcp:before {
  content: "\e935";
  color: #fff;
}
.icon-genomics:before {
  content: "\e936";
  color: #fff;
}
.icon-google-plugin-for-eclipse:before {
  content: "\e937";
  color: #fff;
}
.icon-gpu:before {
  content: "\e938";
  color: #fff;
}
.icon-identity-aware-proxy:before {
  content: "\e939";
  color: #fff;
}
.icon-key-management-service:before {
  content: "\e93a";
  color: #fff;
}
.icon-logging:before {
  content: "\e93b";
  color: #fff;
}
.icon-monitoring:before {
  content: "\e93c";
  color: #fff;
}
.icon-persistent-disk:before {
  content: "\e93d";
  color: #fff;
}
.icon-prediction-api:before {
  content: "\e93e";
  color: #fff;
}
.icon-security-key-enforcement:before {
  content: "\e93f";
  color: #fff;
}
.icon-stackdriver:before {
  content: "\e940";
  color: #fff;
}
.icon-trace:before {
  content: "\e941";
  color: #fff;
}
.icon-virtual-private-cloud:before {
  content: "\e942";
  color: #fff;
}
