* {
  margin: 0;
  padding: 0; }

html, body {
  overflow: hidden; }

body {
  font-family: Octicons;
  font-size: 36px;
  color: #fff; }

#screen {
  position: absolute; }

.icon, .logo {
  text-align: center; }

.icon {
  width: 48px;
  height: 48px;
  float: left;
  opacity: 0.1;
  overflow: hidden; }

.logo {
  width: 144px;
  height: 48px;
  float: left;
  opacity: 0.75;
  margin-top: -15px;
  margin-left: 20px;
  margin-right: -20px;
  box-sizing: border-box;
  font-size: 64px;
  -webkit-animation: logo-fading 20s infinite; }

.fading {
  -webkit-animation: fading 4s 1; }

@-webkit-keyframes logo-fading {
    0% {
        opacity: 0.9; }

    25% {
        opacity: 0.6; }

    50% {
        opacity: 0.3; }

    75% {
        opacity: 0.6; }

    100% {
        opacity: 0.9; } }
@-webkit-keyframes fading {
  0% {
    opacity: 0.1; }

  50% {
    opacity: 0.8; }

  100% {
    opacity: 0.1; } }
